.infinite-list-container {
  padding: 8px 0 0;
  height: 100%;
  max-height: 100dvh;
  overflow: scroll;

  .infinite-list {
    position: relative;
  }

  .row-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 calc(16px + var(--safe-area-inset-right, 0px)) 24px
      calc(16px + var(--safe-area-inset-left, 0px));
    box-sizing: border-box;
  }
}
