.details {
  td {
    padding-top: 4px;
    padding-right: 12px;
    vertical-align: top;

    div {
      max-height: 118px;
      overflow: hidden;
    }

    &:first-child {
      width: 35%;
    }
  }
}
