@import '../../variables.scss';

.dog-tabs {
  display: flex;
  gap: 16px;
}

.dog-tab {
  color: $grey-bold;
  padding-bottom: 2px;

  &.current {
    color: $green;
    border-bottom: 1px solid $green;
  }
}

.details {
  margin-top: 12px;

  td {
    padding-top: 4px;
    padding-right: 12px;
    vertical-align: top;

    div {
      max-height: 118px;
      overflow: hidden;
    }

    &:first-child {
      width: 35%;
    }
  }
}
