@use '../../variables' as *;

.img-container {
  background-color: var(--background-color);
  border: 1px solid var(--color-grey-light);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-grey-light);
  border-radius: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .upper {
    display: flex;
    align-items: center;
  }
}

.name {
  margin-inline-end: 8px;
  font-size: 18px;
  text-transform: capitalize;
}

.age {
  font-size: 14px;
}

:export {
  green: $green;
}
