@import '../../variables.scss';

.container {
  height: 122px;
  width: 100%;
  display: flex;
  gap: 24px;
  border: 1px solid $grey-bold;
  background-color: $white;
  border-radius: 12px;
  padding: 12px;
}

.img {
  width: 96px;
  height: 96px;
  border-radius: 12px;
  object-fit: cover;

  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $text-light;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 18px;

  .upper {
    display: flex;
    align-items: center;
  }
}

.name {
  font-weight: $font-weight-medium;
  margin-right: 8px;
}

.icon {
  color: $orange;
  width: 20px;
  height: 20px;
}

.age {
  color: $brown;
}
