@use '../../variables' as *;

.img {
  width: 100%;
  height: 100%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $text-light;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 18px;

  .upper {
    display: flex;
    align-items: center;
  }
}

.name {
  font-weight: $font-weight-medium;
  margin-right: 8px;
}

:export {
  green: $green;
}
