@import '../../variables.scss';

.dog-tabs {
  display: flex;
  gap: 16px;
}

.dog-tab {
  color: $grey-bold;
  padding-bottom: 2px;

  &.current {
    color: $green;
    border-bottom: 1px solid $green;
  }
}
