@import '../../variables.scss';

.img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $text;
  transition: all 0.2s;

  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-light;
  }
}

.transparent {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: $text-light;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}

.container {
  position: relative;
  height: 200px;
}

.img-container {
  position: absolute;
  top: 0;
  left: 50%;

  &.center {
    transform: translate(-50%);
  }

  &.right {
    transform: translate(-100%);
  }

  &.end-right {
    transform: translate(-110%);
  }

  &.end-left {
    transform: translate(10%);
  }

  &:first-child {
    z-index: 50;
  }

  &:nth-child(2n),
  &:nth-child(3n),
  &:nth-child(5n) {
    z-index: 30;
  }

  &.primary {
    z-index: 100;

    .img {
      border-color: $green;
    }

    .transparent {
      opacity: 0;
    }
  }
}
