@use '../../variables' as *;

.modal {
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
}

.privacy-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;

  span {
    font-size: 12px;
  }
}

@media (orientation: landscape) {
  .content-container {
    padding-top: 24px;
  }

  .form {
    gap: 36px;
  }

  .privacy-container {
    gap: 24px;
    margin-bottom: 56px;
  }
}
