@use '../../variables' as *;

.content-container {
  padding: 56px 24px 24px;
}

.title {
  font-size: $second-title-font-size;
  margin-bottom: 32px;
}

.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.breed {
  padding: 16px;
  color: $text-medium;

  &.chosen {
    color: $orange;
  }
}
