@use '../../variables.scss' as *;

.tabs {
  gap: 0;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 360px) {
  .tabs {
    font-size: 12px;
  }
}

@media (orientation: landscape) {
  .tabs {
    position: initial;
    padding-left: calc(8px + var(--safe-area-inset-left, 0px));
    padding-right: calc(8px + var(--safe-area-inset-right, 0px));
    gap: 48px;
    justify-content: flex-start;
  }
}
