@use '../../variables.scss' as *;

$small-height: 188px;

.tabs {
  position: fixed;
  top: calc($small-height + $page-top-padding);
  gap: 0;
  justify-content: space-between;
}

@media (orientation: landscape) {
  .tabs {
    position: initial;
    padding-left: calc(8px + var(--safe-area-inset-left, 0px));
    padding-right: calc(8px + var(--safe-area-inset-right, 0px));
    gap: 48px;
    justify-content: flex-start;
  }
}
