@use '../../variables.scss' as *;

.modal {
  padding: 0;
}

.container {
  padding: 24px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background: var(--color-background);

  .exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    z-index: 10;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: $title-font-size;
  color: var(--color-text);
  margin: 0;
}

.buttons-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 6px;

  .language-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 6px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.native-label {
  font-size: 16px;
}

:global(.rtl) .exit-button {
  right: auto;
  left: 10px;
}

@media (orientation: landscape) {
  .buttons-row {
    gap: 12px;
  }
}
