@use '../../variables.scss' as *;
@use './shared' as shared;

.modal {
  @extend %modal;
  transition-delay: 0.1s;
  margin-top: auto;
  margin-bottom: calc(var(--safe-area-inset-bottom) + $navbar-height + 12px);
  margin-left: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  padding: 24px 16px;
  color: $text;
  font-size: 20px;
  z-index: 1200;
  margin-right: -100%;

  &[open] {
    margin-right: 12px;
  }

  &:not([open]) {
    margin-right: -100%;
  }
}

.message-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

:export {
  green: $green;
}
