@use '../../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.input {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &.list-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.list-container {
  z-index: 1000;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  border: 2px solid $pink;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 200;

  &.no-results {
    display: none;
  }
}

.items {
  max-height: 182px;
  overflow: auto;
  color: var(--color-text);

  li:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light);
  }
}

.chosen {
  background-color: rgba($pink, 0.05);

  :global(.dark) & {
    background-color: rgba($pink, 0.2);
  }
}

.selected-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  list-style: none;
  padding: 0;
  max-height: 400px;

  .selected-input {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: rgba($pink, 0.2);
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 13px;
    color: var(--color-text);

    span {
      line-height: 1.2;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      padding: 2px;
      color: var(--color-text);
      border-radius: 50%;
      transition: background-color 0.15s ease;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    :global(.dark) {
      background-color: rgba($pink, 0.3);
    }
  }
}
