.container {
  display: flex;
  gap: 8px;

  &.basic {
    flex-direction: column;
  }

  &.single-line {
    flex-direction: row;
    align-items: center;
  }
}

.label {
  padding-left: 2px;

  span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
  }
}
