@import '../../variables.scss';

.input {
  font-weight: inherit;
  color: $text-medium;
  border: 1px solid $grey-bold;
  background-color: $white;
  border-radius: 18px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  padding: 16px;
  letter-spacing: inherit;

  &::placeholder {
    color: $text-light;
  }
}
