@use '../../variables' as *;

.container {
  position: relative;

  .right-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
  }
}

.input {
  font-weight: inherit;
  color: var(--color-text);
  border: 2px solid rgba($pink, 0.2);
  background-color: var(--background-color);
  border-radius: 12px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  padding: 16px;
  letter-spacing: inherit;
  scroll-margin-top: 36px;
  transition: border 0.3s ease;
  width: 100%;

  :global(.dark) & {
    border: 2px solid rgba($pink, 0.6);
  }

  &:focus {
    border: 2px solid rgba($pink, 1);

    :global(.dark) & {
      border: 2px solid rgba($pink, 1);
    }

    + .right-icon {
      opacity: 1;
    }
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: var(--color-text) !important;
    box-shadow: 0 0 0 1000px var(--background-color) inset !important;
  }

  &[type='date'] {
    appearance: none;
    -webkit-appearance: none;

    color-scheme: light;

    :global(.dark) & {
      color-scheme: dark;
    }

    &::-webkit-date-and-time-value {
      text-align: left;
    }
  }

  &::placeholder {
    color: var(--color-placeholder);
  }
}
