@use '../../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .instructions {
    font-size: 13px;

    .button {
      font-size: 13px;
    }
  }
}

.map {
  height: 100%;
  width: 100%;
  border: 1px solid $grey-bold;
  border-radius: 12px;

  :global(.leaflet-touch .leaflet-bar.leaflet-control-zoom) {
    top: 0;
  }

  :global(.leaflet-left .leaflet-control) {
    margin-left: 10px;
  }

  > div {
    border-radius: 12px;
  }
}
