@use '../../variables' as *;

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4px 0;
  color: var(--color-text-medium);
  min-height: 42px;
  border-radius: 6px;
  border: 2px solid rgba($pink, 0.2);
  transition: all 0.3s ease;

  :global(.dark) & {
    border: 2px solid rgba($pink, 0.6);
  }

  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ .input {
    width: 50%;
  }

  &:first-child:nth-last-child(3),
  &:first-child:nth-last-child(3) ~ .input {
    width: 33.3333%;
    font-size: 12px;
  }

  &:first-child:nth-last-child(4),
  &:first-child:nth-last-child(4) ~ .input {
    width: 25%;
    font-size: 11px;
  }

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.checked {
    background-color: $pink;
    color: $white;
  }

  label {
    text-align: center;
    padding: 0;
    overflow: hidden;
    padding: 0 1px;

    span {
      overflow-wrap: break-word;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
