@import '../../variables.scss';

.container {
  color: $text;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options {
  width: fit-content;
  display: flex;
  background-color: white;
  border: 1px solid $grey-bold;
  border-radius: 18px;
}

.name {
  text-transform: capitalize;
}
