@import '../../variables.scss';

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 20px;
  color: $text-medium;
  height: 50px;

  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ .input {
    width: fit-content;
  }

  &:first-child:nth-last-child(3),
  &:first-child:nth-last-child(3) ~ .input {
    width: 33.3333%;
  }

  &:first-child:nth-last-child(4),
  &:first-child:nth-last-child(4) ~ .input {
    width: 25%;
  }

  &.checked {
    background-color: $orange;
    color: $white;
  }

  &:not(:last-child) {
    border-right: 1px solid $grey-bold;
  }

  &:first-child {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
  }

  &:last-child {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
  }

  label {
    text-transform: capitalize;
    padding: 0;
  }

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
