@use '../../variables' as *;

.container {
  color: $text;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options {
  display: flex;
  background-color: white;
  border: 1px solid $grey-bold;
  border-radius: 18px;
  width: fit-content;

  &:has(> *:nth-child(3)) {
    width: 100%;
  }
}

.name {
  text-transform: capitalize;
}
