@use '../../variables' as *;

$bubbleWidth: 44;
$thumbWidth: 20;

.container {
  position: relative;
}

.input {
  padding: 36px 0 16px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;

  :global(.dark) & {
    border: none;
  }

  &::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      $pink 0%,
      $pink var(--range-value),
      var(--color-grey-light) var(--range-value),
      var(--color-grey-light) 100%
    );
    border: none;
    border-radius: 24px;
    width: 100%;
    height: 12px;
    padding: 0;
    margin: 0;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: #{$thumbWidth}px;
    width: #{$thumbWidth}px;
    background-color: $pink;
    border-radius: 50%;
    margin-top: -4px;
  }
}

.min,
.max {
  position: absolute;
  bottom: -4px;
  font-size: 12px;
}

.min {
  inset-inline-start: 4px;
}

.max {
  inset-inline-end: 0;
}

.output {
  position: absolute;
  top: 28px;
  inset-inline-start: 0;
  width: #{$bubbleWidth}px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid $pink;
  border-radius: 4px;
  background-color: $pink;
  color: $white;

  &::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-inline: 6px solid transparent;
    border-top: 6px solid $pink;
    border-bottom: 6px solid transparent;
  }
}

:export {
  thumbWidth: $thumbWidth;
}
