@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $text;

  label {
    padding-left: 2px;
  }

  textarea {
    color: $text-medium;
    border: 1px solid $grey-bold;
    background-color: $white;
    border-radius: 24px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    padding: 20px 16px;
    font-weight: inherit;
    letter-spacing: inherit;

    &::placeholder {
      opacity: 1;
      color: $text-light;
    }
  }
}
