@use '../../variables.scss' as *;

.toggle-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 36px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    background-color: var(--color-grey-bold);
    border-radius: 999px;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    transition: background-color 0.3s;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      height: 32px;
      width: 32px;
      inset-inline-start: 2px;
      top: 2px;
      background-color: var(--background-color);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }

    .icon {
      position: absolute;
      top: 2px;
      inset-inline-start: 2px;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      svg {
        width: 20px;
        height: 20px;
        color: $orange;
      }
    }
  }

  input:checked + .slider {
    background-color: $pink;
  }

  input:checked + .slider::before {
    transform: translateX(48px);
  }

  input:checked + .slider .icon {
    transform: translateX(48px);
  }

  &.small {
    width: 54px;
    height: 28px;

    .slider {
      &::before {
        height: 24px;
        width: 24px;
      }

      .icon {
        height: 24px;
        width: 24px;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    input:checked + .slider::before {
      transform: translateX(26px);
    }

    input:checked + .slider .icon {
      transform: translateX(26px);
    }
  }
}

:global(.rtl) .switch {
  input:checked + .slider::before {
    transform: translateX(-48px);
  }

  input:checked + .slider .icon {
    transform: translateX(-48px);
  }

  &.small {
    input:checked + .slider::before {
      transform: translateX(-26px);
    }

    input:checked + .slider .icon {
      transform: translateX(-26px);
    }
  }
}
