@use '../../variables' as *;

.no-img {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $grey-light;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dog-names {
  text-transform: capitalize;
  font-size: 18px;
}

.user-name-container {
  font-size: 14px;
}

.user-name {
  text-transform: capitalize;
}

.loader {
  height: 24px;
}

.link {
  text-decoration: none;
  color: $pink;
}

.message {
  font-size: 18px;
}

.modal {
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    font-size: 16px;
    align-self: flex-end;
  }
}

:export {
  green: $green;
}
