@use '../../variables' as *;

.img-container {
  background-color: var(--background-color);
  border: 1px solid var(--color-grey-light);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.no-img {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid var(--color-grey-light);
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dog-names {
  text-transform: capitalize;
  font-size: 18px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.user-name-container {
  font-size: 14px;
}

.user-name {
  text-transform: capitalize;
}

.loader {
  height: 24px;
}

.link {
  text-decoration: none;
  color: $pink;
}

.message {
  font-size: 18px;
}

.modal {
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    font-size: 16px;
    align-self: flex-end;
  }
}

:export {
  green: $green;
}
