@import '../../variables.scss';

.link {
  text-decoration: none;
  border: none;
  color: $text;
  display: flex;
  height: 100%;
  align-items: center;
  transition: all 0.1s;
  border-bottom: 2px solid transparent;

  &.active {
    border-bottom: 2px solid $orange;
    color: $orange;
  }

  &.disabled {
    color: $disabled;
    pointer-events: none;
  }
}
