@import '../../variables.scss';

.link {
  text-decoration: none;
  border: none;
  color: $text;
  padding: 0 3px 12px;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
  font-weight: $font-weight-medium;

  &.active {
    border-bottom: 2px solid $orange;
    color: $green;
  }

  &.disabled {
    color: $disabled;
    pointer-events: none;
  }
}
