@use '../../variables' as *;

.link {
  text-decoration: none;
  border: none;
  display: flex;
  height: 100%;
  flex: 1 1 0;
  padding: 2px;

  div {
    transition: all 0.2s;
    color: $blue;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 2px;
    white-space: nowrap;
  }

  &.active {
    div {
      color: $white;
      background-color: rgba($blue, 0.8);

      :global(.dark) & {
        background-color: $blue;
      }
    }
  }

  &.disabled {
    div {
      color: var(--color-disabled);
    }

    pointer-events: none;
  }
}
