@use '../../variables' as *;

.container {
  width: 100%;
  height: $tabs-height;
  display: flex;
  align-items: center;
  background: $white;
  margin: 0;
  padding: 2px 4px;
  font-size: 14px;
  border-bottom: 1px solid $grey-light;
}
