@use '../../variables' as *;

:export {
  green: $green;
  red: $red;
  orange: $orange;
  blue: $blue;
  lightBlueLight: rgba($blue, 0.5);
  lightBlueDark: rgba($blue, 0.9);
  tickColor: var(--color-text);
}
