@import '../../variables.scss';

.center {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  top: 100px;
  right: 10px;
  z-index: 100;
}

:export {
  grey: $grey;
}

.list-view-button {
  position: absolute;
  top: 80px;
  z-index: 300;
  left: 50%;
  transform: translate(-50%);
  font-size: 16px;
}
