@use '../../variables' as *;

.img {
  background-color: var(--background-color);
  border: 1px solid var(--color-grey-light);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.no-img {
  width: 108px;
  height: 108px;
  border-radius: 12px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name,
.address {
  margin: 0;
  padding: 0;
  word-break: break-word;
}

.name {
  font-size: 18px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  font-size: 12px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-park-button {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.map-link {
  line-height: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
