@import '../../variables.scss';

.park {
  border-bottom: 1px solid $text-light;
}

.no-results {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;

  span {
    line-height: 30px;
  }

  a {
    color: $orange;
    font-weight: $font-weight-medium;
    text-decoration: none;
  }
}
