@use '../../variables' as *;

.park {
  border-bottom: 1px solid $text-light;
}

.no-results {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;

  span {
    line-height: 30px;
  }

  a {
    color: $green;
    text-decoration: none;
  }
}
