@use '../../variables' as *;

.park-modal {
  position: fixed;
  z-index: 1000;
  bottom: -400px;
  left: calc(12px + var(--safe-area-inset-left));
  right: calc(12px + var(--safe-area-inset-right));
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: 24px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.no-img {
    bottom: -200px;
  }

  &.open {
    bottom: calc(12px + $navbar-height + var(--safe-area-inset-bottom, 0px));
  }

  .close {
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 12px;
    color: $pink;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
  }

  a {
    color: inherit;
  }
}

.img-container {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  flex-shrink: 0;
  background-image: var(--gradient);
  max-height: 180px;
  transition: max-height 0.3s ease;

  &.hidden {
    max-height: 0;

    .no-img {
      display: none;
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 24px calc(24px + var(--safe-area-inset-right, 0px)) 24px
    calc(24px + var(--safe-area-inset-left, 0px));
  color: var(--color-text);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.name {
  text-decoration: none;
  font-size: $title-font-size;

  span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.address-container {
  display: flex;
  gap: 8px;
}

.address,
.city {
  display: block;
  font-size: 14px;
}

.buttons {
  display: flex;
  position: relative;
  flex-grow: 1;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin-top: 12px;

  .button {
    font-size: 12px;
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 100%;
    line-height: 1;
  }
}

.directions-container {
  height: 20px;
  display: flex;
  align-items: center;
}

.directions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  will-change: transform;
}

.directions-icon {
  margin-right: 4px;
}

.distance,
.duration {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.error {
  font-size: 12px;
  color: $red;
}

.favorite {
  position: absolute;
  z-index: 600;
  top: -16px;
  left: 14px;
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  .park-modal {
    height: 55vh;
    flex-direction: row;
    gap: 24px;
    padding: 16px;

    .img-container,
    .details-container {
      flex: 1;
    }

    .img-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24px;
      background-image: none;
      border: 1px solid var(--color-grey-light);

      img {
        border-radius: 24px;
      }
    }

    .details-container {
      padding: 12px;
    }
  }
}

@media screen and (orientation: landscape) and (min-height: 500px) {
  .img-container:has(.no-img) {
    max-height: 0;

    .no-img {
      display: none;
    }
  }
}

:export {
  green: $green;
  pink: $pink;
}
