@use '../../variables' as *;

.container {
  list-style: none;
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--color-text);
  border: none;
  margin: 0;
  padding: 16px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-container {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  min-height: 110px;
  gap: 24px;
}

.img {
  align-self: center;
  flex-shrink: 0;
  width: 108px;
  height: 108px;
  border-radius: 12px;

  img {
    width: 108px;
    height: 108px;
    border-radius: 12px;
    object-fit: cover;
  }
}

.details {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  .button {
    padding: 2px;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex: 1;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    min-height: 32px;
    line-height: 1;
  }
}
