@use '../../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  padding: 16px calc(16px + var(--safe-area-inset-right)) 116px
    calc(16px + var(--safe-area-inset-left));
}

.actions {
  position: fixed;
  bottom: $navbar-height;
  width: 100%;
  height: 100px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-grey-bold);
  background-color: var(--background-color);
}
