@use '../../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable-content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 80px;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 16px calc(16px + var(--safe-area-inset-right)) 16px
    calc(16px + var(--safe-area-inset-left));
}

.actions {
  position: fixed;
  bottom: calc(var(--navbar-height) + var(--safe-area-inset-bottom, 0px));
  width: 100%;
  height: 80px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-grey-bold);
  background-color: var(--background-color);
}

@media (orientation: landscape) {
  .actions {
    height: 58px;
  }

  .scrollable-content {
    padding-bottom: 58px;
  }
}
