@use '../../variables.scss' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgba($pink, 0.18);
  pointer-events: none;
}

.icon {
  color: $white;
}
