@use '../../variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.general-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}

.info-row {
  flex: 1;
  display: flex;
  flex-basis: auto;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid $blue;
  background-color: var(--light-blue);

  svg {
    color: $blue;
    fill: $white;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--color-text);
  min-width: 0;
}

.info-label {
  font-size: 11px;
  text-transform: uppercase;
}

.info-content {
  font-size: 14px;
}

.organizer-name {
  text-transform: capitalize;
}

.friends-content {
  display: flex;
  flex-direction: column;
}

.no-invitees {
  font-size: 14px;
  color: var(--color-text-medium);
}

.invitees-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message-card {
  font-size: 14px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-title-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.message-title-icon {
  color: rgba($orange, 0.8);
  flex-shrink: 0;
}

.message-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--color-text-medium);
}

.message-content {
  margin: 0;
  padding: 12px 16px;
  background-color: rgba($orange, 0.2);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

:export {
  white: $white;
}
