.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.loader {
  width: 20px;
  height: 20px;
}
