@use '../../variables.scss' as *;

.buttons-container {
  display: flex;
  width: 100%;
  gap: 12px;

  .button {
    flex: 1;
    padding: 12px 8px;
  }
}

.text {
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: $red;
}

@media (orientation: landscape) {
  .buttons-container .button {
    padding: 8px 16px;
  }
}
