@use '../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  padding: 56px 16px 32px;
  color: $text;
  line-height: 1.5;

  h3 {
    margin: 0 0 12px;
    font-size: $title-font-size;
  }

  a {
    text-decoration: none;
  }

  .button {
    font-size: 16px;
  }
}

@media (orientation: landscape) {
  .modal-content {
    padding-top: 24px;
  }
}
