@use '../variables' as *;

.content {
  height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 48px calc(16px + var(--safe-area-inset-right, 0px)) 24px
    calc(16px + var(--safe-area-inset-left, 0px));
  color: $text;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  text-align: center;

  > span {
    display: block;
  }
}
