@use '../variables.scss' as *;

.container {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  font-size: 18px;

  h1 {
    font-size: $title-font-size;
  }

  > p,
  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    .link {
      font-size: 14px;
      text-decoration: none;
      color: $pink;
    }

    .app-link {
      font-size: 14px;
      text-decoration: none;
      color: $white;
    }
  }
}
