@import '../variables.scss';

.content {
  margin: 96px auto;
  padding: 0 24px;
  color: $text;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;

  > span {
    display: block;
  }
}
