@use '../variables' as *;

.content {
  height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 64px calc(16px + var(--safe-area-inset-right, 0px)) 24px
    calc(16px + var(--safe-area-inset-left, 0px));
  color: var(--color-text);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  text-align: center;

  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  > span {
    display: block;
  }
}
