@use '../variables' as *;

.title {
  margin: 12px 0 4px;
  font-weight: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 24px 12px;
  height: 100%;
  overflow: auto;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0 12px;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.google-login-button {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;

  svg {
    height: 24px;
    width: 24px;
  }
}

.line-through {
  margin: 36px 4px 24px;
  text-align: center;
  border-bottom: 1px solid $grey-bold;
  line-height: 0.1em;

  > span {
    padding: 0 12px;
    background: $grey-light;
  }
}

.button {
  align-self: center;
  font-size: 20px;
}

.error {
  color: $red;
  padding-left: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  font-size: 14px;
  display: flex;
  align-items: center;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.loading {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;

  &.show {
    opacity: 1;
  }
}

.change-method {
  align-self: center;

  a {
    text-decoration: none;
    color: $green;
    margin-left: 4px;
  }
}

.reset-button {
  margin-top: 12px;
  align-self: center;
  color: $green;
  font-size: 16px;
}

@media (orientation: landscape) {
  .container {
    margin: 0 calc(8px + var(--safe-area-inset-right, 0px)) 12px
      calc(8px + var(--safe-area-inset-left, 0px));
  }

  .title {
    margin-top: 4px;
  }

  .inputs {
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex-grow: 1;
    }
  }

  .button {
    font-size: 16px;
  }

  .line-through {
    margin-top: 24px;
  }

  .google-login-button {
    width: fit-content;
    justify-content: center;
    margin: 0 auto 12px;
  }
}
