@use '../variables' as *;

.title {
  margin: 8px 0 0;
  padding: 0;
  font-size: $second-title-font-size;
}

.info-line {
  margin: 12px 0 4px;
  font-weight: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 12px calc(16px + var(--safe-area-inset-right, 0px)) 12px
    calc(16px + var(--safe-area-inset-left, 0px));
  height: 100%;
  overflow: auto;

  .button {
    border-radius: 12px;
    width: 100%;
    font-size: 20px;
    padding: 17px 16px;
  }

  .input {
    padding: 17px 16px;

    &.dark {
      background-color: black;
    }
  }

  .button-text {
    margin-top: -2px;
    white-space: normal;
    text-align: center;
    padding: 8px 0;
  }

  .google-login-button {
    width: 100%;
    min-height: 56px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-top: 12px;
    color: black;

    &.dark {
      background-color: black;
      color: white;
    }
  }

  .apple-login-button {
    width: 100%;
    min-height: 56px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: black;

    &.dark {
      background-color: black;
      color: white;
    }
  }

  .google-icon {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .google-login-button,
  .apple-login-button {
    flex-wrap: wrap;
  }

  .google-icon,
  .apple-login-button svg {
    margin-inline-start: -21px;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.eye-button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: flex-end;
}

.line-through {
  margin: 32px 4px 32px;
  text-align: center;
  border-bottom: 1px solid $grey-bold;
  line-height: 0.1em;

  > span {
    padding: 0 12px;
    background-color: var(--background-color);
  }
}

.error {
  color: $red;
  padding-inline-start: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 14px;
  display: flex;
  align-items: center;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.loading {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
  }
}

.change-method {
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  .change-method-button {
    font-size: 16px;
  }
}

.reset-password {
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  .reset-button {
    font-size: 16px;
  }
}

:global(.rtl) {
  .google-login-button,
  .apple-login-button {
    direction: ltr;
  }
}

@media (orientation: landscape) {
  .info-line {
    margin-top: 4px;
  }

  .inputs {
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex-grow: 1;
    }
  }

  .button {
    font-size: 16px;
  }

  .line-through {
    margin-top: 24px;
  }

  .google-login-button {
    width: fit-content;
    justify-content: center;
    margin: 12px auto 12px;
  }
}

:export {
  text: var(--color-text);
  pink: $pink;
}
