@use '../variables' as *;

.title {
  margin: 12px 0 4px;
  font-weight: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 12px calc(16px + var(--safe-area-inset-right, 0px)) 12px
    calc(16px + var(--safe-area-inset-left, 0px));
  height: 100%;
  overflow: auto;

  .button {
    border-radius: 12px;
    width: 100%;
    font-size: 20px;
    padding: 16px;
  }

  .google-login-button {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    border-radius: 12px;
    padding: 16px;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.line-through {
  margin: 32px 4px 32px;
  text-align: center;
  border-bottom: 1px solid $grey-bold;
  line-height: 0.1em;

  > span {
    padding: 0 12px;
    background: $white;
  }
}

.error {
  color: $red;
  padding-left: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  font-size: 14px;
  display: flex;
  align-items: center;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.loading {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;

  &.show {
    opacity: 1;
  }
}

.change-method {
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  .change-method-button {
    font-size: 16px;
  }
}

.reset-password {
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  .reset-button {
    font-size: 16px;
  }
}

@media (orientation: landscape) {
  .title {
    margin-top: 4px;
  }

  .inputs {
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex-grow: 1;
    }
  }

  .button {
    font-size: 16px;
  }

  .line-through {
    margin-top: 24px;
  }

  .google-login-button {
    width: fit-content;
    justify-content: center;
    margin: 0 auto 12px;
  }
}

:export {
  text: $text;
}
