@import '../variables.scss';

.title {
  margin: 12px 0 8px;
  font-weight: inherit;
  padding: 8px 4px;
  font-size: $title-font-size;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 24px 12px;
}

.inputs-container {
  margin: 8px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.google-login-button {
  margin-top: 12px;
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;

  svg {
    height: 24px;
    width: 24px;
  }
}

.line-through {
  margin: 18px 4px 12px;
  text-align: center;
  border-bottom: 1px solid $grey-bold;
  line-height: 0.1em;

  > span {
    padding: 0 12px;
    background: $grey-light;
  }
}

.button {
  align-self: center;
  font-size: 20px;
}

.error {
  color: $red;
  height: 20px;
  padding-left: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  font-size: 12px;
  display: flex;
  align-items: center;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.loading {
  font-size: 16px;
}

.change-method {
  align-self: center;

  a {
    text-decoration: none;
    color: $green;
    margin-left: 4px;
  }
}

.reset-button {
  color: $green;
  font-size: 16px;
}
