@use '../variables' as *;

.prev-links {
  position: absolute;
  top: 0;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $pink;
    font-size: 14px;
  }
}

.title {
  font-size: $second-title-font-size;
}

.map {
  height: 280px;
  width: 100%;
}

.container {
  padding: 48px calc(24px + var(--safe-area-inset-right, 0px)) 12px
    calc(24px + var(--safe-area-inset-left, 0px));
  display: flex;
  flex-direction: column;
  gap: 12px;

  .button {
    width: 100%;
    padding: 16px;
    border-radius: 18px;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  color: $red;
  height: 14px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  padding: 48px 24px 24px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  a {
    color: $green;
  }
}

@media (orientation: landscape) {
  .modal {
    padding-top: 24px;
  }
}
