@use '../variables' as *;

.container {
  max-height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 8px calc(8px + var(--safe-area-inset-right, 0px)) 12px
    calc(8px + var(--safe-area-inset-left, 0px));
  display: flex;
  flex-direction: column;
  gap: 12px;

  .button {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
  }
}

.content-container {
  padding: 36px 8px 12px;
}

.title {
  font-size: $second-title-font-size;
  padding: 0 8px;
}

.map {
  height: 280px;
  width: 100%;
  z-index: 1;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  color: $red;
  height: 14px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.modal,
.finish-modal {
  padding: 24px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  a {
    color: $pink;
  }

  .button {
    margin-top: 12px;
    border-radius: 8px;
    align-self: flex-end;
  }
}

.finish-modal-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}

.text {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  .button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: max-content;
    max-width: 100%;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
  }
}

@media (orientation: landscape) {
  .map {
    width: 70%;
  }
}

@media (max-width: 360px) {
  .buttons-container .button {
    min-width: min-content;
  }
}
