@use '../variables' as *;

.container {
  max-height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 8px calc(8px + var(--safe-area-inset-right, 0px)) 12px
    calc(8px + var(--safe-area-inset-left, 0px));
  display: flex;
  flex-direction: column;
  gap: 12px;

  .button {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
  }
}

.content-container {
  padding: 32px 8px 12px;
}

.prev-links {
  position: fixed;
  top: 0;
  padding: $page-top-padding 4px 8px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $pink;
    font-size: 14px;
  }
}

.title {
  font-size: $second-title-font-size;
  padding: 0 8px;
}

.map {
  height: 280px;
  width: 100%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  color: $red;
  height: 14px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  padding: 24px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  a {
    color: $pink;
  }

  .button {
    margin-top: 12px;
    border-radius: 8px;
    align-self: flex-end;
  }
}
