@use '../variables.scss' as *;

$header-height: 60px;

.container {
  margin-top: $page-top-padding;
  max-height: $content-max-height;
  overflow: hidden;
  height: 100%;
  color: var(--color-text);
}

.header {
  height: $header-height;
  padding: 0 calc(16px + var(--safe-area-inset-right, 0px)) 0
    calc(16px + var(--safe-area-inset-left, 0px));
  background: var(--color-background);
  box-shadow: $box-shadow-sm;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.content {
  padding: 0 calc(8px + var(--safe-area-inset-right, 0px))
    calc(12px + $navbar-height) calc(8px + var(--safe-area-inset-left, 0px));
}

.loader {
  margin-bottom: 50%;
}

.title-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .settings-button {
    border-radius: 8px;
    height: 36px;
    width: 36px;
    box-shadow: $box-shadow;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  margin: 0;
  font-size: $title-font-size;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px calc(16px + var(--safe-area-inset-right, 0px)) 64px
    calc(16px + var(--safe-area-inset-left, 0px));
  text-align: center;
}

.empty-icon {
  margin-bottom: 16px;
  opacity: 0.7;
}

.empty-text {
  font-size: 20px;
}
