@use '../variables' as *;

.loader {
  margin-top: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friends-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.friends-title {
  font-size: $title-font-size;
}

.othersContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;

  a {
    text-decoration: none;
    border: none;
  }
}

.othersContainer:only-child {
  .othersTitle {
    font-size: 18px;
    text-align: center;
  }
}

.not-friends {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 14px;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
  }
}

// .othersContainer:not(:only-child) {
//   margin-top: 24px;
// }
