@use '../variables' as *;

.container {
  padding: 24px calc(12px + var(--safe-area-inset-right, 0px)) 8px
    calc(12px + var(--safe-area-inset-left, 0px));
}

.map-link {
  margin-bottom: 12px;
  text-decoration: none;
  color: $green;
  font-size: 18px;
}

.parks-list {
  width: 100%;
  max-height: calc($content-max-height - 68px);
}
