@import '../variables.scss';

.container {
  padding: 24px 12px 8px;
}

.map-link {
  margin-left: 8px;
  margin-bottom: 12px;
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 8px;
  align-items: center;
}

.parks-list {
  width: 100%;
  max-height: calc(100dvh - $navbar-height * 2 - 68px);
}
