@import '../variables.scss';

.container {
  padding: 24px;
}

.friends-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.friends-title {
  font-size: $second-title-font-size;
  text-align: center;
}

.othersContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  a {
    text-decoration: none;
    border: none;
    color: $green;
  }
}

.othersContainer:only-child {
  .othersTitle {
    font-size: 18px;
  }
}

.othersContainer:not(:only-child) {
  margin-top: 24px;
}
