@use '../variables' as *;

.page-container {
  margin-top: $page-top-padding;
  max-height: $content-max-height;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outlet-container {
  padding: 16px calc(16px + var(--safe-area-inset-right)) 16px
    calc(16px + var(--safe-area-inset-left));
  flex: 1;
}
