@use '../variables' as *;

.upper-details-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  height: 250px;
  width: 100%;
  margin-top: 1px;
  flex-shrink: 0;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $text-light;
}

.image-icon {
  .park-icon {
    width: 50%;
    height: 50%;
    color: $brown;
    margin-top: 5%;
  }
}

.edit-photo-icon {
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 50%;
  color: $white;
  background-color: $green;
}

.basic-details {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  position: relative;
}

.name {
  font-size: $title-font-size;
  font-weight: $font-weight-medium;
}

.address {
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px;
  position: relative;

  &::after {
    content: '|';
    position: absolute;
    right: -1px;
    bottom: 1px;
  }
}

.user-engagement-row {
  position: absolute;
  width: 100%;
  top: 3px;
  left: 0;
  padding: 6px 12px 2px;
  display: flex;
  align-items: flex-start;
  border: 1px solid $text-light;
  background-color: rgba($white, 0.75);
}

.user-engagement-left {
  flex-grow: 1;
  display: flex;
}

.user-engagement-right {
  display: flex;
  align-items: flex-start;
  gap: 0;
}

.share-icon {
  color: $white;
  background-color: $green;
}

.tabs {
  padding: 0 12px;
}

.map-link {
  color: $green;
  font-size: 14px;
}

.outlet-container {
  padding: 12px;
  flex: 1;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  .upper-details-container {
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 24px;
    padding: 0 calc(16px + env(safe-area-inset-right)) 0
      calc(16px + env(safe-area-inset-left));
    border-bottom: 1px solid $text-light;
  }

  .image-container {
    position: initial;
    flex-shrink: 1;
    width: 40%;
    height: 180px;
    margin-top: 12px;
  }

  .image {
    border: none;
  }

  .basic-details {
    margin-top: 12px;
  }

  .user-engagement-row {
    background-color: transparent;
    border: none;
    padding-right: 24px;
  }

  .user-engagement-left {
    margin-left: env(safe-area-inset-left);
  }

  .outlet-container {
    padding: 12px calc(16px + env(safe-area-inset-right)) 12px
      calc(16px + env(safe-area-inset-left));
  }

  .tabs {
    gap: 48px;
    margin: 0;
    padding: 0 calc(16px + env(safe-area-inset-right)) 0
      calc(16px + env(safe-area-inset-left));
  }
}
