@import '../variables.scss';

.container {
  padding: 24px 12px 8px;
}

.map-link {
  margin-bottom: 12px;
  text-decoration: none;
  color: $green;
  font-size: 18px;
}

.parks-list {
  width: 100%;
  max-height: calc($content-max-height - 68px);
}
