@use '../variables' as *;

.header {
  background-size: 100% 104px, 100% 164px;
}

.img-container {
  top: 102px;
}

.basic-details {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 8px;
  position: relative;
  width: 100%;
  display: flex;

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px;
  }

  .reviews {
    height: 20px;
    display: flex;
    align-items: center;
  }

  .name {
    font-size: $title-font-size;
  }

  .address-container {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;

    .address {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.user-engagement-row {
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
  gap: 16px;
  align-items: center;
}

.map-link {
  font-size: 14px;
}

.outlet-container {
  padding: 16px;
  flex: 1;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  .upper-details-container {
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 24px;
    padding: 0 calc(16px + var(--safe-area-inset-right, 0px)) 0
      calc(16px + var(--safe-area-inset-left, 0px));
    border-bottom: 1px solid $text-light;
  }

  .image-container {
    position: initial;
    flex-shrink: 1;
    width: 40%;
    height: 180px;
    margin-top: 12px;
  }

  .image {
    border: none;
  }

  .basic-details {
    margin-top: 12px;
  }

  .user-engagement-row {
    background-color: transparent;
    border: none;
    padding-right: 24px;
  }

  .outlet-container {
    padding: 12px calc(16px + var(--safe-area-inset-right, 0px)) 12px
      calc(16px + var(--safe-area-inset-left, 0px));
  }

  .tabs {
    gap: 48px;
    margin: 0;
    padding: 0 calc(16px + var(--safe-area-inset-right, 0px)) 0
      calc(16px + var(--safe-area-inset-left, 0px));
  }
}

:export {
  blue: $blue;
}
