@import '../variables.scss';

.image-container {
  position: relative;
  height: 250px;
  width: 100%;
  margin-top: 1px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $text-light;
}

.image-icon {
  .park-icon {
    width: 50%;
    height: 50%;
    color: $brown;
    margin-top: 5%;
  }
}

.edit-photo-icon {
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 50%;
  color: $white;
  background-color: $green;
}

.basic-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 12px;

  > :first-child {
    display: flex;
    flex-direction: column;
  }
}

.name {
  font-size: $title-font-size;
  margin-bottom: 10px;
  font-weight: $font-weight-medium;
}

.address {
  font-size: 14px;
  margin-bottom: 10px;
}

.user-engagement-row {
  position: absolute;
  width: 100%;
  top: 3px;
  left: 0;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  border: 1px solid $text-light;
  background-color: rgba($white, 0.75);
}

.user-engagement-left {
  flex-grow: 1;
  display: flex;
}

.user-engagement-right {
  display: flex;
  align-items: flex-start;
  gap: 0;
}

.share-icon {
  color: $white;
  background-color: $green;
}

.tabs {
  padding: 0 12px;
}

.outletContainer {
  padding: 12px;
}
