@use '../variables' as *;

.loader {
  margin-top: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friends-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.friends-title {
  font-size: $title-font-size;
}

.othersContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;

  a {
    text-decoration: none;
    border: none;
  }
}

.othersContainer:only-child {
  margin: 24px;

  .othersTitle {
    font-size: 18px;
    text-align: center;
  }
}

.not-friends {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 16px;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
  }
}
