@use '../variables' as *;

.wrapper {
  max-height: $content-max-height;
  margin-top: $page-top-padding;
  padding: 12px calc(16px + var(--safe-area-inset-right, 0px)) 12px
    calc(16px + var(--safe-area-inset-left, 0px));
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 0;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .button {
    font-size: 16px;
  }
}
