@use '../variables' as *;

.header {
  &.medium {
    background-size: 100% 96px, 100% 172px;
  }
}

.imgs-container {
  &.medium {
    top: 96px;
  }
}

.title {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.text {
  text-align: center;
  width: 100%;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.welcome {
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.img {
  &:not(:first-child) {
    z-index: 1;
    margin-left: -20px;
  }
}

.user-name {
  text-transform: capitalize;
}

.container {
  max-height: calc($content-max-height - $navbar-height);
  height: 100%;
  padding: 24px 16px 12px;
  overflow: auto;

  &.with-margin {
    max-height: calc($content-max-height - $navbar-height - $tabs-height);
    margin-top: $tabs-height;
  }
}

@media (orientation: landscape) {
  .container {
    padding: 12px calc(16px + var(--safe-area-inset-right, 0px)) 12px
      calc(16px + var(--safe-area-inset-left, 0px));
  }
}

:export {
  green: $green;
  pink: $pink;
}
