@use '../variables' as *;

$small-height: 188px;
$medium-height: 262px;

.profile-container {
  margin-top: $page-top-padding;
  max-height: $content-max-height;
  overflow: hidden;
  height: 100%;
}

.container {
  max-height: calc($content-max-height - $medium-height);
  height: 100%;
  padding: 12px 16px 12px;
  overflow: auto;

  &.with-margin {
    max-height: calc($content-max-height - $tabs-height - $small-height);
    margin-top: $tabs-height;
  }
}

.settings-button {
  position: absolute;
  bottom: 16px;
  inset-inline-end: 12px;
  width: 24px;
  height: 24px;
}

.img {
  width: var(--img-size);

  &:not(:first-child) {
    z-index: 1;
    margin-inline-start: -20px;
  }

  &:nth-child(odd):not(:only-child) {
    transform: rotate(4deg);
  }

  &:nth-child(even):not(:only-child) {
    transform: rotate(-4deg);
  }
}

.title {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.text {
  text-align: center;
  width: 100%;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-request-container {
  height: 55px;
}

.welcome {
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
  font-size: $second-title-font-size;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.user-name {
  text-transform: capitalize;
}

.loader {
  margin-bottom: 100%;

  &.user {
    margin-bottom: 60%;
  }
}

@media (orientation: landscape) {
  .profile-container {
    overflow: visible;
  }

  .container {
    padding: 12px calc(16px + var(--safe-area-inset-right, 0px)) 0
      calc(16px + var(--safe-area-inset-left, 0px));
    max-height: calc($content-max-height);
    overflow: visible;
    height: fit-content;

    &.with-margin {
      max-height: calc($content-max-height);
      margin-top: 0;
    }
  }

  .loader {
    align-self: flex-start;
    margin-top: 8px;
  }
}

@media (max-width: 390px) {
  .img {
    &:not(:first-child) {
      margin-inline-start: -30px;
    }
  }
}

@media (max-width: 360px) {
  .img {
    &:not(:first-child) {
      margin-inline-start: -40px;
    }
  }
}

:export {
  pink: $pink;
}
