@import '../variables.scss';

.container {
  max-height: calc(100dvh - $navbar-height * 2);
  padding: 24px 16px 12px;
  overflow: auto;

  &.with-margin {
    max-height: calc(100dvh - $navbar-height * 2 - $tabs-height);
    margin-top: $tabs-height;
  }
}
