@use '../variables' as *;

.container {
  margin-top: $page-top-padding;
  max-height: $content-max-height;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 56px 16px 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  align-items: center;
}

.title {
  font-size: $title-font-size;
}

.theme-container {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0;
  border-radius: 8px;
  width: 100%;
  height: 60px;
  box-shadow: $box-shadow;
}

.approve-modal {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.approve-content {
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  .modal-button {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

@media (orientation: landscape) {
  .container {
    height: unset;
    padding-bottom: 16px;
  }
}

:export {
  blue: $blue;
  red: $red;
}
