.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loader {
  margin-bottom: 29%;
}

@media (orientation: landscape) {
  .container {
    padding-bottom: 16px;
  }

  .loader {
    margin-bottom: 0;
  }
}
