@import '../variables.scss';

.container {
  display: flex;
  flex-direction: column;
}

.dogs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.title-text {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.add-dog-button {
  margin: 32px auto;
}

.plus {
  color: $green;
  width: 24px;
  height: 24px;
}

.add-dog-text {
  font-size: 16px;
  color: $green;
}

.friend-request-button {
  margin: 32px 0;
  text-align: center;
}
