@use '../variables' as *;

.container {
  padding: 12px 0 0;
  max-height: $content-max-height;
  margin-top: $page-top-padding;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.title {
  font-size: $title-font-size;
  padding: 0 calc(16px + var(--safe-area-inset-right, 0px)) 0
    calc(16px + var(--safe-area-inset-left, 0px));
}

.input-container {
  padding: 8px calc(16px + var(--safe-area-inset-right, 0px)) 24px
    calc(16px + var(--safe-area-inset-left, 0px));
}

.list {
  ul {
    padding: 8px calc(16px + var(--safe-area-inset-right, 0px)) 24px
      calc(16px + var(--safe-area-inset-left, 0px));
    gap: 24px;
  }
}

.loader {
  margin-bottom: 50%;
}

@media (orientation: landscape) {
  .title {
    display: none;
  }

  .container {
    padding: 0;

    .input-container {
      padding: 12px calc(16px + var(--safe-area-inset-right)) 12px
        calc(16px + var(--safe-area-inset-left));
    }
  }
}
