@use '../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.dogs {
  display: flex;
  flex-direction: column;
  gap: 18px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 34px;

  .add-dog-button {
    font-size: 14px;
    padding: 8px 16px;
    box-shadow: $box-shadow;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.no-dogs-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
  margin: 24px;
  font-size: 18px;

  .add-dog-button {
    font-size: 14px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.title-text {
  font-size: $title-font-size;
}

.name {
  text-transform: capitalize;
}

@media (orientation: landscape) {
  .container {
    padding-bottom: 16px;
  }
}
