@use '../variables' as *;

.container {
  padding: 32px 24px;
  max-height: $content-max-height;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: $title-font-size;
}

.list {
  ul {
    gap: 12px;
  }
}
