@import '../variables.scss';

.container {
  display: flex;
  flex-direction: column;
}

.prev-links {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.prev-link {
  font-size: 18px;
  text-decoration: none;
  color: $green;
}

.dogs {
  display: flex;
  flex-direction: column;
  gap: 18px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.title-text {
  margin-bottom: 18px;
  font-size: $title-font-size;
}

.add-dog-button {
  margin: 32px auto;
}

.plus {
  color: $green;
  width: 24px;
  height: 24px;
}

.add-dog-text {
  font-size: 16px;
  color: $green;
}

.friend-request-button {
  margin: 32px 0;
  text-align: center;
}

.name {
  text-transform: capitalize;
}
