@import '../variables.scss';

.container {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.no-friends {
  align-items: center;
}

.friends-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 18px;
}

.link {
  text-decoration: none;
  border: none;
  color: $green;
}
