@use '../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 18px;
}

.empty {
  align-items: center;
  gap: 24px;
  margin: 24px;
}

.title {
  font-size: $title-font-size;
  min-height: 34px;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: $pink;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loader {
  margin-bottom: 29%;
}

@media (orientation: landscape) {
  .container {
    padding-bottom: 16px;
  }

  .loader {
    margin-bottom: 0;
  }
}
