@import '../variables.scss';

.container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 12px;

  .row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid $text-light;
    }
  }
}

.icon {
  color: $green;
  width: 42px;
  height: 42px;
  padding: 4px;
  border: 1px solid $green;
  border-radius: 50%;
}
