@use '../variables' as *;

.container {
  padding: 32px calc(24px + var(--safe-area-inset-right, 0px)) 32px
    calc(24px + var(--safe-area-inset-left, 0px));
  max-height: $content-max-height;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: $title-font-size;
}

.list {
  ul {
    gap: 12px;
  }
}

@media (orientation: landscape) {
  .title {
    display: none;
  }

  .container {
    padding: 18px calc(24px + var(--safe-area-inset-right, 0px)) 12px
      calc(24px + var(--safe-area-inset-left, 0px));
  }
}
