@use '../variables' as *;

.container {
  height: $content-max-height;
  margin-top: $page-top-padding;
}

.name {
  text-transform: capitalize;
}

.bottom {
  padding: 0 calc(16px + var(--safe-area-inset-right)) 12px
    calc(16px + var(--safe-area-inset-left));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &.center {
    justify-content: center;

    .details {
      align-items: center;
    }
  }

  .edit-button {
    padding: 0;
    border-radius: 8px;
    height: 36px;
    width: 36px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex: 1;
  min-width: 0;

  > * {
    display: flex;
    align-items: center;
  }

  :first-child {
    font-size: $second-title-font-size;
  }

  :last-child {
    font-size: 14px;
    min-width: 0;
    display: flex;
    align-items: center;
  }

  .user-name {
    &::before {
      content: '•';
      margin: 0 8px;
    }
  }

  .breed {
    &:not(:only-child)::before {
      content: '•';
      margin: 0 8px;
    }
  }

  .gender,
  .age,
  .breed {
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .age {
    flex-shrink: 0;
    white-space: nowrap;
  }

  .breed {
    flex: 1;
    min-width: 0;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .name,
  .age svg,
  .breed svg {
    margin-inline-end: 8px;
  }
}

.content {
  padding: 16px calc(16px + var(--safe-area-inset-right)) 16px
    calc(16px + var(--safe-area-inset-left));
  display: flex;
  flex-direction: column;
  gap: 24px;
}

:export {
  green: $green;
}
