@use '../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.empty {
  align-items: center;
  text-align: center;
  gap: 24px;
  margin: 24px;
  font-size: 18px;
}

.title {
  font-size: $title-font-size;
  min-height: 34px;
}

.subtitle {
  font-size: $title-font-size;
  min-height: 34px;
}

.events-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.loader {
  margin-bottom: 29%;
}

@media (orientation: landscape) {
  .container {
    padding-bottom: 16px;
  }

  .loader {
    margin-bottom: 0;
  }
}
