@use '../../variables' as *;

.content-container {
  padding: 8px;
}

.button {
  background-color: transparent;
  padding: 0;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:export {
  white: $white;
}
