@use '../../variables' as *;

.modal {
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  &.extra-padding {
    padding-bottom: 48px;

    &:not(.with-dog) {
      padding-bottom: 150px;
    }
  }
}

.breed {
  padding: 16px;
  color: $text-medium;
}

.description {
  padding-top: 12px;

  label {
    width: fit-content;
  }
}

.delete-dog-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
}

@media (orientation: landscape) {
  .modal {
    padding-top: 12px;
  }

  .form {
    gap: 16px;
  }
}

:export {
  red: $red;
}
