@use '../variables' as *;

.button {
  width: fit-content;
  border: none;
  border-radius: 12px;
  font-family: inherit;
  font-size: 18px;
  margin: 0;
  letter-spacing: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0;
  transition: all 0.3s ease;

  &.primary {
    color: $white;
    background-color: var(--color, $pink);
    padding: 12px 24px;
  }

  &.secondary {
    color: var(--color, $pink);
    background-color: $white;
    border: 1px solid var(--color, $pink);
    padding: 12px 24px;
  }

  &.simple {
    color: var(--color, $pink);
  }

  &.round {
    color: $pink;
    background-color: $white;
    border-radius: 50%;
    padding: 12px;
    width: 48px;
    height: 48px;
    box-shadow: $box-shadow;
  }

  &:disabled {
    &.round,
    &.primary,
    &.secondary {
      background-color: $disabled;
      color: $white;
    }

    &.secondary {
      background-color: rgba($disabled, 0.3);
      color: $grey-bold;
      border: none;
    }

    &.simple {
      color: $disabled;
    }
  }

  &:active:not(:disabled) {
    transform: scale(0.96);
  }
}
