@import '../variables.scss';

.button {
  border: none;
  border-radius: 48px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  letter-spacing: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0;

  &.green {
    width: fit-content;
    color: $white;
    background-color: $green;
    padding: 12px 24px;
  }

  &.orange {
    width: fit-content;
    color: $white;
    background-color: $orange;
    padding: 12px 24px;
  }
}
