@use '../variables' as *;

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;

  .add-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    padding: 8%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .plus {
    transform: translate(0, -20%);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid $grey-light;
  outline: none;
  border-radius: 8px;
}

.modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: $black;

  img {
    padding-top: 4px;
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
}

.approve-modal {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.approve-content {
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  .button {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

@media (orientation: landscape) {
  .button-container {
    .plus {
      transform: translate(0, -70%);
    }
  }
}
