@import '../variables.scss';

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid $text-light;
}

.modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $black;

  img {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
}

.add-image {
  background-color: $grey-bold;
}

.plus-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  color: $white;
  padding-bottom: 8px;
}

.plus-icon {
  color: $white;
  width: 42px;
  height: 42px;
}

.trash-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  color: $green;
}

.approve-modal {
  padding: 56px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.approve-title {
  font-size: $second-title-font-size;
}

.delete-button {
  margin: 0 auto;
}
