@use '../variables' as *;

.modal {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.title {
  font-size: $title-font-size;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  .modal-button {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.loader {
  width: 24px;
  height: 24px;
}
