@import '../variables.scss';

.container {
  display: flex;
  gap: 8px;
  color: $text;

  &.basic {
    flex-direction: column;
  }

  &.single-line {
    flex-direction: row;
    align-items: center;
  }

  label {
    padding-left: 2px;
  }
}
