@use '../variables' as *;

.favorite {
  display: flex;
  gap: 6px;
  align-items: end;
  font-size: 14px;
  color: $white;
  background-color: $pink;
  padding: 4px 8px;
  border-radius: 8px;
}

.ribbon {
  color: $white;
  width: 18px;
  height: 18px;
}
