@use '../variables' as *;

.prev-links {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: $page-top-padding calc(12px + var(--safe-area-inset-right)) 6px
    calc(12px + var(--safe-area-inset-left));
  width: 100%;
  z-index: 500;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $pink;
    font-size: 14px;
  }
}

:global(.rtl) .prev-links {
  flex-direction: row-reverse;

  a {
    flex-direction: row-reverse;
  }
}

.header {
  position: relative;
  height: 268px;
  flex-shrink: 0;
  background-image: var(--gradient);
  background-repeat: no-repeat;
  background-size:
    100% 114px,
    100% 154px;
  background-position: top, bottom;
  border-bottom: 1px solid var(--color-grey-light);

  &.small {
    height: 220px;
    background-size:
      100% 92px,
      100% 128px;

    .imgs-container {
      top: 92px;
    }
  }

  &.large {
    height: 280px;
    background-size:
      100% 114px,
      100% 166px;

    .imgs-container {
      top: 114px;
    }
  }
}

.imgs-container {
  position: absolute;
  top: 114px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

@media (orientation: landscape) {
  .bottom {
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
  }
}
