@use '../variables' as *;

.header {
  position: relative;
  height: 268px;
  flex-shrink: 0;
  background-image: $linear-gradient;
  background-repeat: no-repeat;
  background-size: 100% 108px, 100% 160px;
  background-position: top, bottom;
  border-bottom: 1px solid $text-light;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.imgs-container {
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-links {
  position: absolute;
  top: 0;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $pink;
    font-size: 14px;
  }
}
