@use '../variables' as *;

.header {
  position: relative;
  flex-shrink: 0;
  background-image: var(--gradient);
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &.small {
    height: 190px;

    .imgs-container {
      top: 74px;
    }
  }

  &.medium {
    height: 238px;

    .imgs-container {
      top: 108px;
    }
  }

  &.large {
    height: 264px;

    .imgs-container {
      top: 100px;
    }
  }
}

.imgs-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

:global(body.dark) .header {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

@media (orientation: landscape) {
  .bottom {
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
  }
}
