@use '../variables' as *;

.prev-links {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: $page-top-padding calc(12px + var(--safe-area-inset-right)) 6px
    calc(12px + var(--safe-area-inset-left));
  width: 100%;
  z-index: 500;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $pink;
    font-size: 14px;
  }
}

.header {
  position: relative;
  flex-shrink: 0;
  background-image: var(--gradient);
  background-repeat: no-repeat;
  background-position: top, bottom;
  border-bottom: 1px solid var(--color-grey-light);

  &.small {
    height: 188px;
    background-size:
      100% 72px,
      100% 116px;

    .imgs-container {
      top: 72px;
    }
  }

  &.medium {
    height: 216px;
    background-size:
      100% 94px,
      100% 122px;

    .imgs-container {
      top: 94px;
    }
  }

  &.large {
    height: 250px;
    background-size:
      100% 110px,
      100% 140px;

    .imgs-container {
      top: 110px;
    }
  }

  &.xlarge {
    height: 262px;
    background-size:
      100% 94px,
      100% 168px;

    .imgs-container {
      top: 94px;
    }
  }
}

.imgs-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

:global(.rtl) .prev-links {
  flex-direction: row-reverse;

  a {
    flex-direction: row-reverse;
  }
}

@media (orientation: landscape) {
  .bottom {
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
  }
}
