@use '../variables' as *;

$header-small-min-height: 190px;
$header-medium-min-height: calc($header-small-min-height + $tabs-height);
$header-large-min-height: 264px;
$prev-links-offset: 44px;

.header {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  background-image: var(--gradient);
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: stretch;
  min-height: $header-medium-min-height;

  &.small {
    min-height: $header-small-min-height;
  }

  &.medium {
    min-height: $header-medium-min-height;
  }

  &.large {
    min-height: $header-large-min-height;
  }
}

.content {
  padding: 12px calc(12px + var(--safe-area-inset-right, 0px)) 8px
    calc(12px + var(--safe-area-inset-left, 0px));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header.has-prev-links .content {
  padding-top: $prev-links-offset;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.bottom {
  font-size: $second-title-font-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

:global(.dark) .header {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
