@import '../variables.scss';

.input {
  color: $text-bold;
  border: 1px solid $grey-bold;
  background-color: $white;
  border-radius: 24px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  padding: 20px 16px;

  &::placeholder {
    color: $text-light;
  }
}
