@use '../variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  background-image: url('/loader.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.secondary {
    background-image: url('/loader-secondary.svg');
  }
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  height: $content-max-height;
  width: 100dvw;
  z-index: 10000;

  .loader {
    width: 80px;
    height: 80px;
  }
}
