@use '../variables.scss' as *;

.modal {
  position: fixed;
  bottom: calc($navbar-height + var(--safe-area-inset-bottom, 0px) + 12px);
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  width: 95%;
  border-radius: 12px;
  background-color: $white;
  font-size: 14px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .text {
    padding: 0;
    margin: 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .button {
      font-size: 11px;
      padding: 8px 12px;
      border-radius: 8px;
    }
  }
}

:export {
  red: $red;
}
