@use '../variables' as *;

.modal {
  position: fixed;
  z-index: 1100;
  transition: all 0.5s;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: $grey-light;
  box-shadow: 0 0 0 100vmax rgba($text, 0.7);
  padding: 0;
  height: 100%;
  max-height: 100%;

  &.delay[open] {
    transition-delay: 0.5s;
  }

  &.appear {
    top: 0;
    bottom: 0;
    border-radius: 12px;
    width: 90%;
    max-width: 90%;
  }

  &.full-screen {
    width: 100%;
    max-width: 100%;
    background-color: inherit;
    height: 100dvh;
    max-height: 100dvh;
  }

  &.center,
  &.center-top {
    height: 80%;
    max-height: 80%;
    border-radius: 12px;
    width: 90%;
    max-width: 90%;
    margin-top: 300px;
  }

  &.center[open] {
    margin-top: 112px;

    &.min-margin-top {
      margin-top: calc(16px + env(safe-area-inset-top));
    }
  }

  &.center-top[open] {
    margin-top: calc(48px + env(safe-area-inset-top));

    &.min-margin-top {
      margin-top: calc(16px + env(safe-area-inset-top));
    }
  }

  &.top {
    width: 50%;
    left: 100%;
    bottom: 100%;
    top: 0;
    border-radius: 12px;
    transform: translate(-106%, 0);

    &[open] {
      transform: translate(-106%, calc(35% + $navbar-height));
    }
  }

  &.bottom {
    height: fit-content;
    top: 100%;
    bottom: 0;
    border-radius: 24px;
    width: 95%;
    max-width: 95%;
    opacity: 1;

    &[open] {
      transform: translate(0, -57%);
    }
  }

  &[open] {
    visibility: visible;
    opacity: 1;
  }

  &:not([open]) {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &::backdrop {
    background-color: $text;
    transition: all 0.5s;
    opacity: 0.6;
  }

  &.hide-backdrop {
    box-shadow: none;
    border: 1px solid $text;

    &::backdrop {
      opacity: 0.2;
    }
  }

  &.with-minimize-height {
    max-height: calc(90% - var(--keyboard-height));
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.close {
  position: absolute;
  z-index: 100;
  top: 16px;
  right: 16px;
  color: $green;
  padding: 2px;
  border: 2px solid $green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.button-container {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-top: 1px solid $text-light;
}

@media (orientation: landscape) {
  .button-container {
    padding: 8px 0;
  }
}
