@import '../variables.scss';

.modal {
  position: fixed;
  z-index: 1000;
  transition: all 0.5s;
  border: none;
  display: block;
  background-color: $grey-light;
  box-shadow: 0 0 0 100vmax rgba($text, 0.7);
  padding: 0;
  height: 100%;
  max-height: 100%;

  &.delay[open] {
    transition-delay: 0.5s;
  }

  &.appear {
    border-radius: 12px;
  }

  &.full-screen {
    width: 100%;
    max-width: 100%;
    background-color: inherit;
    height: 100dvh;
    max-height: 100dvh;
  }

  &.center,
  &.center-top {
    height: 80%;
    max-height: 80%;
    border-radius: 12px;
    width: 90%;
    max-width: 90%;
    margin-top: 300px;
  }

  &.center[open] {
    margin-top: 112px;
  }

  &.center-top[open] {
    margin-top: 48px;
  }

  &.bottom {
    height: fit-content;
    margin-top: auto;
    margin-bottom: -300px;
    border-radius: 24px;
    width: 95%;
    max-width: 95%;
    opacity: 1;

    &[open] {
      margin-bottom: 10px;
    }
  }

  &[open] {
    visibility: visible;
    opacity: 1;
  }

  &:not([open]) {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &::backdrop {
    background-color: $text;
    transition: all 0.5s;
    opacity: 0.6;
  }

  &.hide-backdrop::backdrop {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.close {
  position: absolute;
  z-index: 100;
  top: 16px;
  right: 16px;
  color: $green;
  padding: 2px;
  border: 2px solid $green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
