@import '../variables.scss';

.modal {
  transition: all 0.5s;
  border: none;
  display: block;
  background-color: $grey-light;
  padding: 0;

  &.center {
    border-radius: 12px;
    height: 80%;
    width: 90%;
    margin-top: 48px;
  }

  &.bottom {
    margin-top: auto;
    margin-bottom: -300px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
    max-width: 100%;
    visibility: visible;
    opacity: 1;

    &[open] {
      margin-bottom: 0;
    }
  }

  &[open] {
    visibility: visible;
    opacity: 1;
  }

  &:not([open]) {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &::backdrop {
    background-color: $text;
    opacity: 0.6;
  }
}

.content {
  position: relative;
  height: 100%;
  overflow: auto;
}

.close {
  position: absolute;
  z-index: 100;
  top: 16px;
  right: 16px;
}
