@import '../variables.scss';

.navbar {
  height: $navbar-height;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $green;
  position: fixed;
  z-index: 500;
  width: 100vw;
}

.dog-icon {
  color: $green;
  padding: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white;
  transform: scaleX(-1);
}

.home-icon {
  color: $white;
  width: 32px;
  height: 32px;
}

.left-bar {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
  color: $white;
  text-decoration: none;
  font-size: 20px;
}

.user-name {
  text-transform: capitalize;
}
