@import '../variables.scss';

.navbar {
  position: sticky;
  bottom: 0;
  z-index: 500;
  width: 100vw;
  height: $navbar-height;
  flex-shrink: 0;
  background-color: $green;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 46px;

  a {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border: none;
    font-size: 14px;
    color: $white;

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translate(0, -50%);
        right: -25px;
        height: 36px;
        border-right: 1px solid $text-light;
      }
    }
  }
}

.icons {
  color: $white;
  width: 24px;
  height: 24px;
}

.dog-icon {
  color: $green;
  background-color: $white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 2px;
  transform: scaleX(-1);
}

.home {
  svg {
    width: 48px;
    height: 48px;
  }
}
