@use '../variables' as *;

.navbar {
  position: sticky;
  top: 0;
  z-index: 2000;
  width: 100vw;
  height: calc($navbar-height + var(--safe-area-inset-top, 0px));
  background-color: $green;
  display: flex;
}

.content {
  width: 100%;
  margin-top: var(--safe-area-inset-top, 0px);
  padding: 0 16px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.dog-icon {
  color: $green;
  padding: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white;
  transform: scaleX(-1);
}

.about-button {
  display: flex;
}

.about-icon {
  color: $white;
  width: 20px;
  height: 20px;
  margin-right: calc(-8px + var(--safe-area-inset-right, 0px));
}

.left-bar {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
  color: $white;
  text-decoration: none;
  font-size: 20px;
}

.user-name {
  text-transform: capitalize;
}
