@use '../variables' as *;

.modal {
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: $title-font-size;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  border-radius: 12px;
}

.input {
  border: 1px solid rgba($pink, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 72px;
  display: flex;
  color: var(--color-text-medium);
  transition: all 0.3s ease;

  &.checked {
    background-color: $pink;
    color: $white;
  }

  label {
    padding: 0 16px;
  }

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
