@use '../variables' as *;

.container {
  list-style: none;
  text-decoration: none;
  background-color: #fff;
  color: $text;
  border: none;
  margin: 0;
  padding: 16px;
  border-radius: 12px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.content {
  display: flex;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  align-items: flex-end;
  font-size: 12px;

  .details {
    flex-grow: 1;
    text-align: left;
    display: flex;

    .user-name {
      text-transform: capitalize;

      &::after {
        content: '•';
        margin: 0 4px;
      }
    }
  }

  .report-button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: rgba($red, 0.05);
  }
}

.title {
  font-size: $second-title-font-size;
  margin-right: 12px;
}

.button {
  font-size: 12px;
}

.park-name {
  font-size: $title-font-size;
  padding-bottom: 4px;
  border-bottom: 1px solid $text-light;
}

:export {
  red: $red;
}
