@use '../variables' as *;

.modal {
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-text);
  width: 100%;
  font-size: 16px;

  .content {
    padding-top: 12px;

    label {
      width: fit-content;
    }
  }
}

.rank-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rank-title {
  padding-inline-start: 4px;
}

.stars {
  width: fit-content;
}

.checkbox {
  padding-top: 12px;
}

@media (orientation: landscape) {
  .modal {
    padding-top: 12px;
  }

  .form {
    gap: 16px;
  }
}
