@use '../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid $grey-bold;
  border-radius: 12px;
  background-color: $white;
  padding: 16px;
  font-size: 14px;
  position: relative;

  > :not(:last-child) {
    border-bottom: 1px solid $text-light;
  }

  .park-name {
    border: none;
  }
}

.preview {
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  color: $orange;
  font-weight: $font-weight-medium;
  margin-right: 12px;
}

.time {
  margin-right: 12px;
}

.content {
  display: flex;
  padding: 0 0 12px;
}

.footer {
  display: flex;
  align-items: center;
  color: $text-medium;
}

.name {
  flex-grow: 1;
  text-align: left;
}

.time,
.name {
  color: $brown;
}

.button {
  color: $green;
  font-size: 14px;
}

.park-name {
  font-size: 18px;
  padding-bottom: 8px;
}

.user-name {
  text-transform: capitalize;
}

.report-icon {
  width: 20px;
  height: 20px;
  color: $grey-bold;
}
