@use '../variables.scss' as *;

.container {
  width: 100%;
}

.user {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-transform: capitalize;
}

.chosen {
  color: $pink;
}
