@import '../variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  &.full {
    color: $orange;
  }

  &.half {
    color: $orange;
  }

  &.second-half {
    transform: scale(-1, 1);
    color: $grey-bold;
  }

  &.empty {
    color: $grey-bold;
  }
}
