@import '../variables.scss';

.container {
  display: flex;
  align-items: center;
}

.star {
  &.full {
    color: $orange;
  }

  &.half {
    color: $orange;
  }

  &.second-half {
    margin-left: -16px;
    transform: scale(-1, 1);
    color: $text-light;
  }

  &.empty {
    color: $text-light;
  }
}
