@import '../variables.scss';

.modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 32px;
}

.title {
  font-size: 24px;
  margin-left: 12px;
}

.icon {
  color: $green;
  width: 24px;
  height: 24px;
}
