@use '../../variables.scss' as *;

.notification-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.notification-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  svg {
    color: $white;
  }

  &.pink {
    background: $pink;
  }

  &.blue {
    background: $blue;
  }

  &.green {
    background: $green;
  }

  &.red {
    background: $red;
  }
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.title-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 14px;
  color: var(--color-text);
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.3;
}

.message {
  font-size: 12px;
  color: var(--color-text-medium);
  text-align: start;
}

.timestamp {
  font-size: 10px;
  color: var(--color-text-medium);
  text-align: start;
}

.notification-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--background-color);
  color: var(--color-text);
  border: none;
  margin: 0;
  padding: 16px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  width: 100%;
  min-height: 85%;
  max-height: 100%;
  transition: border 0.3s ease;

  &.unread {
    border-inline: 3px solid rgba($pink, 0.5);
    background-color: rgba($pink, 0.03);

    .message {
      opacity: 1;
    }
  }

  &.read {
    border-inline: 3px solid rgba($pink, 0);

    .message {
      opacity: 0.7;
    }
  }
}
