@use '../../variables.scss' as *;

$header-height: 60px;

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }

  &:not(:has(.earlier-title)) {
    min-height: 90%;
    display: flex;
    align-items: center;
  }
}

.section-title {
  font-size: 16px;
  margin: 0;

  &.lighter {
    color: var(--color-text-medium);
  }
}

.earlier-title {
  margin-top: 16px;
}

.virtualized-container {
  height: 100%;
}

.virtual-row {
  padding: 0 8px;
}

.virtual-scroll-container {
  height: calc($content-max-height - $header-height);
  overflow: auto;
}
