@use '../../variables' as *;

.modal {
  padding: 24px 24px 36px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
  font-size: 16px;
}

.section-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-header {
  padding: 0 16px;

  span {
    font-size: 13px;
    color: var(--color-text);
    text-transform: uppercase;
  }
}

.section-container {
  border-radius: 12px;
  border: 1px solid $pink;
}

@media (orientation: landscape) {
  .modal {
    padding-top: 12px;
    padding-bottom: 24px;
  }

  .form {
    gap: 12px;
  }
}
