@use '../../variables' as *;

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  position: relative;

  &:not(.setting-item-last)::after {
    content: '';
    position: absolute;
    bottom: 0;
    inset-inline-start: 12px;
    inset-inline-end: 12px;
    height: 0.5px;
    background-color: var(--color-grey-bold);
  }
}

.setting-info {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-inline-end: 16px;
}

.setting-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.setting-label {
  color: var(--color-text);
  font-size: 14px;
}

.setting-description {
  color: var(--color-text-medium);
  font-size: 13px;
}
