@import '../../variables.scss';

.chart-container {
  margin: 12px auto 0;
  width: 97%;
  height: 150px;
  font-size: 12px;
}

.text {
  font-size: 12px;
}

.light {
  color: $green;
}

.medium {
  color: $orange;
}

.busy {
  color: $red;
}

.no-data {
  font-size: 12px;
  text-align: center;
}
