@use '../../variables' as *;

.button {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.text-container {
  width: 97%;
  background-color: rgba($orange, 0.15);
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: var(--box-shadow-sm);

  &.empty {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    background-color: transparent;
  }

  .dogs-count-button {
    font-size: 12px;
    border-radius: 8px;
    padding: 8px 12px;
  }
}

.text {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.link a {
  color: inherit;
  font-size: 13px;
}

.light {
  color: $green;
}

.medium {
  color: $orange;
}

.busy {
  color: $red;
}

:export {
  green: $green;
  white: $white;
}
