@use '../../variables' as *;

.modal {
  padding-top: 24px;
  padding-bottom: 24px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100%;

  .button {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 1;
  }
}

@media (orientation: landscape) {
  .modal {
    padding: 12px calc(12px + var(--safe-area-inset-right, 0px)) 12px
      calc(12px + var(--safe-area-inset-left, 0px));
  }
}
