@use '../../variables' as *;

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.modal-content {
  padding: 56px 24px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $text;
}

.title {
  font-size: $second-title-font-size;
  margin-bottom: 32px;

  span {
    text-transform: capitalize;
  }

  &.large {
    font-size: $title-font-size;
  }
}

.privacy-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;
  gap: 8px;
  font-size: 14px;

  span {
    font-size: 12px;
  }

  label {
    font-size: 16px;
  }
}
