.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.save-button {
  margin: 24px auto;
}
