@use '../../variables' as *;

.modal {
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  .range {
    margin-top: 24px;
  }
}

@media (orientation: landscape) {
  .form {
    gap: 16px;
  }
}
