@use '../../variables' as *;

.modal {
  padding: 24px 0;
}

.title {
  padding: 0 24px;
}

.form {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  .input {
    font-size: 12px;
  }

  .range {
    margin-top: 24px;
  }

  .errors {
    min-height: 20px;
    font-size: 11px;
    color: $red;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media (orientation: landscape) {
  .modal {
    padding-top: 12px;
  }

  .form {
    gap: 16px;
  }
}
