@use '../../variables' as *;

.modal-content {
  padding: 56px 24px 24px;
  height: 100%;
}

.title {
  font-size: $second-title-font-size;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
