@use '../../variables' as *;

.button.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  box-shadow: $box-shadow;

  .iconWrapper {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      fill: none;
      stroke: $white;
    }
  }
}

:export {
  pink: $pink;
  green: $green;
  blue: $blue;
  orange: $orange;
  red: $red;
  grey: $grey-bold;
}
