@use '../../variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  width: 48px;

  > span {
    font-size: 9px;
    font-weight: $font-weight-medium;
  }
}

.icon {
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 50%;
  background-color: $green;
}
