@use '../../variables' as *;

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;

  & > div {
    width: 100%;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;

  :first-child {
    font-size: 11px;
    text-transform: uppercase;
  }

  :last-child {
    font-size: 14px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.disabled {
    pointer-events: none;
  }
}

.visitors {
  display: flex;
  align-items: center;
  gap: 12px;

  .visitors-button {
    border-radius: 50%;
    padding: 0;
    height: 48px;
    width: 48px;
  }

  .visitors-text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    :first-child {
      font-size: 11px;
      text-transform: uppercase;
    }

    :last-child {
      font-size: 14px;
    }
  }
}

@media (orientation: landscape) {
  .container {
    justify-content: start;
    gap: 18px;
  }
}

:export {
  white: $white;
}
