@use '../../variables' as *;

.modal {
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-text);
  font-size: 16px;
}

.time-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.conflict {
  font-size: 13px;
  color: rgba($red, 0.6);

  .conflict-link {
    color: $pink;
  }

  :global(.dark) & {
    color: $red;
  }
}

.friends-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.message label {
  width: fit-content;
}

@media (orientation: landscape) {
  .modal {
    padding-top: 12px;
  }

  .form {
    gap: 16px;
  }
}
