@use '../../variables' as *;

.button.button {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 11px;
  border-radius: 4px;
  box-shadow: $box-shadow;
  border: 1px solid var(--icon-color);
  background-color: var(--icon-bgcolor);
  width: 96px;

  svg {
    fill: $white;
    stroke: var(--icon-color);
  }
}

:export {
  pink: $pink;
}
