@use '../../variables' as *;

.header {
  background-size: 100% 98px, 100% 170px;
  margin-top: $page-top-padding;
}

.img-container {
  top: 96px;
}

.basic-details {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 6px;
  position: relative;
  width: 100%;
  display: flex;

  &:not(.user) {
    gap: 8px;
  }

  .top {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $title-font-size;
  }

  .bottom {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    height: 20px;

    .reviews {
      height: 20px;
      display: flex;
      align-items: center;
      flex: 0 0 auto;
    }

    .address {
      display: flex;
      align-items: center;
      gap: 4px;
      flex: 1 1 auto;
      min-width: 0;
      line-height: 1;

      svg {
        flex-shrink: 0;
      }

      .text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.user-engagement-row {
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
  gap: 16px;
  align-items: center;

  &:not(.user) {
    justify-content: space-between;
    padding-top: 0;
  }
}

.map-link {
  font-size: 14px;
}

:export {
  blue: $blue;
  green: $green;
}
