@import '../../variables.scss';

.container {
  display: flex;
  justify-content: space-between;
}

.ground:not(.no-content) {
  letter-spacing: -0.2px;

  &:not(.long) {
    font-size: 12px;
    word-spacing: 50px;
  }

  &.long {
    font-size: 10px;
  }
}

.shade:not(.no-content) {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: inherit;

  &.disabled {
    pointer-events: none;
  }
}

:export {
  green: $green;
  darkGreen: $green-dark;
  blue: $blue;
  orange: $orange;
  brown: $brown;
  grey: $grey;
  transparentGrey: #95b2bb;
}
