@use '../../variables' as *;

.img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-with-buttons {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  justify-content: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px 16px;
  align-content: end;
}

.share-only {
  display: flex;
  align-items: flex-end;
}

.basic-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

.top {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $title-font-size;
}

.bottom {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  .reviews {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  .address {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 1 1 auto;
    min-width: 0;
    line-height: 1;

    svg {
      flex-shrink: 0;
    }

    .text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

:export {
  blue: $blue;
  green: $green;
}
