@import '../../variables.scss';

.checkin-icon {
  color: $grey-bold;
  fill: $grey-bold;
}

.checkout-icon {
  color: $green;
  fill: $green;
}

.dogs-count-modal {
  padding: 56px 24px 24px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $text;

  button {
    margin: 24px auto;
    font-size: 18px;
  }
}

.title {
  font-size: 18px;
  margin-bottom: 32px;
}
