@import '../../variables.scss';

.container {
  display: flex;
  gap: 14px;
}

.ground {
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: inherit;
}

:export {
  green: $green;
  blue: $blue;
  orange: $orange;
  brown: $brown;
  grey: $grey;
}
