.add-photo-button {
  margin-top: 8px;
  margin-right: 8px;
  float: right;
  font-size: 12px;
}

.buttons-container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  label,
  button {
    font-size: 20px;
  }
}
