@import '../../variables.scss';

.checkin-icon {
  color: $grey-bold;
  fill: $grey-bold;
}

.checkout-icon {
  color: $orange;
  fill: $orange;
}

.dogs-count-modal {
  padding: 56px 24px 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $text;

  button {
    margin-top: 24px;
    font-size: 18px;
    position: absolute;
    bottom: 48px;
    align-self: center;
  }
}

.title {
  font-size: 18px;
  margin-bottom: 32px;
}
