@use '../../variables' as *;

.title {
  width: 100%;
  padding-inline-end: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    height: 36px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.characters-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
}

.character {
  display: flex;
  gap: 12px;
  align-items: center;

  > :first-child {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;

    &.no::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 48px;
      background-color: var(--current-color);
      top: 0;
      left: 50%;
      transform: rotate(45deg);
      transform-origin: center;
    }

    svg {
      fill: $white;
    }
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;

  :first-child {
    font-size: 11px;
    text-transform: uppercase;
  }

  :last-child {
    font-size: 14px;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.disabled {
    pointer-events: none;
  }
}

.general-info {
  padding: 0 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.visitors {
  display: flex;
  align-items: center;
  gap: 12px;

  .visitors-button {
    border-radius: 50%;
    padding: 0;
    height: 48px;
    width: 48px;
  }

  .visitors-text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    :first-child {
      font-size: 11px;
      text-transform: uppercase;
    }

    :last-child {
      font-size: 14px;
    }
  }
}

:export {
  green: $green;
  blue: $blue;
  orange: $orange;
  red: $red;
  white: $white;
  lightGreen: var(--light-green);
  lightOrange: var(--light-orange);
  lightBlue: var(--light-blue);
  lightRed: var(--light-red);
}

@media (orientation: landscape) {
  .container {
    justify-content: start;
    gap: 18px;
  }
}
