@import '../../variables.scss';

.title {
  justify-content: space-between;

  .left {
    display: flex;
    gap: 2px;
    align-items: center;
  }
}

.add-photo-button {
  display: flex;
}

.plus {
  color: $green;
}
