@use '../../variables' as *;

.modal {
  padding: 24px;
  font-size: 16px;
  color: var(--color-text);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  border-radius: 12px;
}

.input {
  border: 1px solid rgba($pink, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 60px;
  color: var(--color-text-medium);
  transition: all 0.3s ease;

  &.checked {
    background-color: $pink;
    color: $white;
  }

  label {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }
}

.no-reportable-conditions {
  color: var(--color-text-medium);
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  line-height: 1.3;
}
