@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $text;
  height: 100%;
}

.title {
  font-size: 18px;
}

.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.button {
  margin: 24px auto;
  font-size: 18px;
}

.rank-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rank-title {
  font-size: 18px;
  padding-left: 4px;
}

.stars {
  padding: 16px;
}
