@use '../../variables' as *;

.container {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.review-count {
  text-decoration: none;
  color: inherit;
}

.add-review {
  position: relative;
  padding-left: 10px;

  &::before {
    content: '|';
    position: absolute;
    left: 0;
    bottom: 1px;
  }
}

.add-review-button {
  font-size: 12px;
  color: $green;
}
