@import '../../variables.scss';

.container {
  margin: 56px 12px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: $text;
}

.title {
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button {
  align-self: center;
  position: absolute;
  bottom: 48px;
}

.rank-title {
  padding-left: 4px;
}

.stars {
  background-color: $white;
  border-radius: 16px;
  padding: 16px;
  margin-top: 12px;
}
