@use 'leaflet-control-geocoder/dist/Control.Geocoder.css';
@use './variables' as *;

body {
  display: flex;
  width: 100%;
  background-color: $grey-light;
  color: $text;
  font-weight: $font-weight-light;
  letter-spacing: 0.5px;
  font-family: $font-family;
  margin: 0;
}

#root {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  font-size: inherit;
}

.slick-slider {
  padding: 0 12px;

  .slick-arrow {
    z-index: 100;
    height: 100%;

    &.slick-prev,
    &.slick-next {
      &::before {
        color: $text;
        content: '›';
        font-family: inherit;
        font-size: 32px;
        display: block;
      }
    }

    &.slick-next::before {
      margin-left: 4px;
    }

    &.slick-prev {
      left: -6px;
      padding-top: 6px;

      &::before {
        margin-right: 4px;
        transform: rotate(180deg);
      }
    }

    &.slick-next {
      padding-bottom: 6px;
      right: -6px;
    }
  }

  .slick-track {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-left: 0;

    .slick-slide {
      height: 112px;

      > div {
        height: 100%;
        margin-right: 4px;

        &:first-child {
          margin-left: 4px;
        }
      }
    }
  }
}

.marker-cluster {
  &.marker-cluster-large {
    background-color: rgba($red, 0.5);

    div {
      background-color: rgba($red, 0.9);

      span {
        font-family: $font-family;
        color: $text;
      }
    }
  }

  &.marker-cluster-medium {
    background-color: rgba($orange, 0.5);

    div {
      background-color: rgba($orange, 0.9);

      span {
        font-family: $font-family;
        color: $text;
      }
    }
  }

  &.marker-cluster-small {
    background-color: rgba($green, 0.5);

    div {
      background-color: rgba($green, 0.9);

      span {
        font-family: $font-family;
        color: $text;
      }
    }
  }
}

.leaflet-bottom.leaflet-left {
  width: 100%;
  display: flex;
}

.leaflet-control-geocoder {
  width: 100%;

  .leaflet-control-geocoder-icon {
    display: none;
  }

  &.leaflet-bar.leaflet-control,
  &.leaflet-bar.leaflet-control.leaflet-control-geocoder-expanded {
    font-family: $font-family;
    color: $text;
    border: none;
    margin: 0 24px 24px;

    .leaflet-control-geocoder-form-no-error,
    .leaflet-control-geocoder-alternatives {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      background-color: inherit;
      font-weight: $font-weight-light;
      letter-spacing: inherit;
      border-radius: 4px;
    }

    .leaflet-control-geocoder-form-no-error {
      margin: 0;
      border-bottom: 1px solid $grey-bold;
      color: $text;
      padding: 8px 12px;
      font-size: 14px;
    }

    .leaflet-control-geocoder-alternatives {
      li {
        border-bottom: 1px solid $grey-bold;
        padding: 8px 12px;

        a {
          color: inherit;

          .leaflet-control-geocoder-address-context {
            color: $brown;
          }
        }
      }
    }

    .leaflet-control-geocoder-form {
      display: flex;

      input {
        width: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $text-medium;
        outline: none;
        font-size: 20px;
        font-family: inherit;
        padding: 12px;
        color: $text;
        background-color: inherit;
        font-weight: $font-weight-light;
        letter-spacing: inherit;

        &::placeholder {
          color: $placeholder;
        }
      }
    }
  }
}
