@use 'leaflet-control-geocoder/dist/Control.Geocoder.css';
@use './variables' as *;

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  width: 100%;
  background-color: $white;
  color: $text;
  font-weight: $font-weight-light;
  letter-spacing: 0.5px;
  font-family: $font-family;
  margin: 0;
}

#root {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  &:focus {
    outline: none;
  }
}

input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

.slick-slider {
  padding: 0 12px;

  .slick-arrow {
    z-index: 100;
    height: 100%;

    &.slick-prev,
    &.slick-next {
      &::before {
        color: $pink;
        content: '›';
        font-family: inherit;
        font-size: 32px;
        display: block;
      }
    }

    &.slick-next::before {
      margin-left: 4px;
    }

    &.slick-prev {
      left: -6px;
      padding-top: 6px;

      &::before {
        margin-right: 4px;
        transform: rotate(180deg);
      }
    }

    &.slick-next {
      padding-bottom: 6px;
      right: -6px;
    }
  }

  .slick-list {
    padding: 12px 0;
  }

  .slick-track {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-left: 0;

    .slick-slide {
      height: 112px;

      > div {
        height: 100%;
        margin-right: 4px;

        &:first-child {
          margin-left: 4px;
        }
      }
    }
  }
}

.marker-cluster {
  &.marker-cluster-large {
    background-color: rgba($red, 0.5);

    div {
      background-color: rgba($red, 0.9);

      span {
        font-family: $font-family;
        color: $text;
      }
    }
  }

  &.marker-cluster-medium {
    background-color: rgba($orange, 0.5);

    div {
      background-color: rgba($orange, 0.9);

      span {
        font-family: $font-family;
        color: $text;
      }
    }
  }

  &.marker-cluster-small {
    background-color: rgba($green, 0.5);

    div {
      background-color: rgba($green, 0.9);

      span {
        font-family: $font-family;
        color: $text;
      }
    }
  }
}

.leaflet-marker-icon {
  filter: drop-shadow(-1px 10px 15px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
}

.leaflet-bottom.leaflet-left {
  width: 100%;
  display: flex;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar.leaflet-control-zoom {
  top: 160px;
  border: none;
  margin-right: 12px;

  a.leaflet-control-zoom-in:first-child,
  a.leaflet-control-zoom-out:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 48px;
    height: 48px;
    background-color: $white;
    color: $pink;
    box-shadow: $box-shadow;
    border-radius: 50%;

    &:active {
      transform: scale(0.92);
    }
  }
}

.leaflet-left .leaflet-control {
  margin-left: 0px;
}

.leaflet-top.leaflet-left {
  width: 100%;
}

.leaflet-control {
  float: none;
}

.leaflet-control-geocoder {
  &.leaflet-bar.leaflet-control {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
    border: none;
    box-shadow: $box-shadow;

    .leaflet-control-geocoder-icon {
      background-image: url('/search.svg');
      background-size: contain;
      width: 24px;
      height: 24px;
    }

    &.leaflet-control-geocoder-throbber {
      .leaflet-control-geocoder-icon {
        background-image: url('/loader.gif');
      }
    }
  }

  &.leaflet-bar.leaflet-control,
  &.leaflet-bar.leaflet-control.leaflet-control-geocoder-expanded {
    font-family: $font-family;
    color: $text;
    border: none;
    margin: 32px calc(12px + var(--safe-area-inset-right, 0px)) 12px
      calc(12px + var(--safe-area-inset-left, 0px));
    width: 80%;
    height: 48px;

    .leaflet-control-geocoder-form-no-error,
    .leaflet-control-geocoder-alternatives {
      position: absolute;
      top: 120%;
      left: 0;
      width: 100%;
      background-color: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      border-radius: 25px;
    }

    .leaflet-control-geocoder-form-no-error {
      margin: 0;
      border-bottom: 1px solid $grey-bold;
      color: $text;
      padding: 8px 12px;
      font-size: 14px;
    }

    .leaflet-control-geocoder-alternatives {
      li {
        border-bottom: 1px solid $grey-bold;
        padding: 12px 24px;

        a {
          color: inherit;

          .leaflet-control-geocoder-address-context {
            color: $brown;
          }
        }
      }
    }

    .leaflet-control-geocoder-form {
      display: flex;

      input {
        width: 100%;
        border-radius: 0;
        border: none;
        outline: none;
        font-size: 20px;
        font-family: inherit;
        padding-left: 12px;
        color: $text;
        background-color: inherit;
        font-weight: inherit;
        letter-spacing: inherit;

        &::placeholder {
          color: $placeholder;
        }
      }
    }
  }
}

@media (orientation: landscape) {
  .slick-slider .slick-track .slick-slide {
    height: 180px;
  }
}
