@import './variables.scss';

body {
  display: flex;
  width: 100%;
  margin: 0;
  background-color: $white;
  color: $text;
  font-weight: $font-weight-medium;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.slick-slider {
  padding: 0 12px;

  .slick-arrow {
    z-index: 100;
    height: 100%;

    &.slick-prev,
    &.slick-next {
      &::before {
        color: $text;
        content: '›';
        font-family: inherit;
        font-size: 32px;
        display: block;
      }
    }

    &.slick-prev {
      left: -6px;
      padding-top: 6px;

      &::before {
        transform: rotate(180deg);
      }
    }

    &.slick-next {
      padding-bottom: 6px;
      right: -6px;
    }
  }

  .slick-track {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-left: 0;

    .slick-slide {
      height: inherit;

      > div {
        height: 100%;
        margin-right: 4px;

        &:first-child {
          margin-left: 4px;
        }
      }
    }
  }
}
