@use './variables' as *;

.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  max-height: $app-max-height;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  background-color: $white;
}

.keyboard-height-container {
  transition: all 0.3s;
  height: 0;

  &.with-extra-height {
    height: var(--keyboard-height);
  }
}
