@use './variables.scss' as *;

:root {
  --light-green: rgba(125, 201, 94, 0.2);
  --light-blue: rgba(13, 162, 231, 0.2);
  --light-pink: rgba(236, 72, 153, 0.2);
  --light-red: rgba(255, 87, 20, 0.2);
  --light-orange: rgba(245, 183, 0, 0.2);
  --weather-blue: #{$blue};
  --weather-orange: #{$orange};
  --color-text: #4d4d4d;
  --color-text-medium: #8d8d8d;
  --color-grey-bold: #c8c8c8;
  --color-grey-light: #ebebeb;
  --color-placeholder: rgb(203, 203, 203);
  --color-disabled: rgb(217, 217, 217);
  --color-disabled-text: #{$white};
  --color-disabled-rgb: 217, 217, 217;
  --background-color: #{$white};
  --box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  --gradient: #{$linear-gradient};
}

body.dark {
  --light-green: rgba(125, 201, 94, 0.1);
  --light-blue: rgba(13, 162, 231, 0.1);
  --light-pink: rgba(236, 72, 153, 0.1);
  --light-red: rgba(255, 87, 20, 0.1);
  --light-orange: rgba(245, 183, 0, 0.1);
  --color-text: #f0f0f0;
  --color-text-medium: #afafaf;
  --color-grey-bold: rgb(105, 105, 105);
  --color-grey-light: #7b7b7b;
  --color-placeholder: #7b7b7b;
  --color-disabled: rgb(90, 90, 90);
  --color-disabled-text: rgb(168, 168, 168);
  --color-disabled-rgb: 90, 90, 90;
  --background-color: #1e293b;
  --box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, 0.5);
  --box-shadow-sm: 0 1px 2px 0 rgba(200, 200, 200, 0.25);
  --gradient: #{$dark-gradient};
}
