// colors
$grey: #578796;
$green: #9ac457;
$green-dark: #86a05d;
$orange: #ecac52;
$red: #fb564c;
$brown: #bfa990;
$blue: #70c3d0;
$white: #ffffff;
$black: rgba(0, 0, 0, 0.9);

$grey-light: #fafafa;
$grey-bold: #c8c8c8;
$text: #4d4d4d;
$text-bold: #5e5e5e;
$text-medium: #8d8d8d;
$text-light: #ebebeb;
$placeholder: rgb(203, 203, 203);
$disabled: #d9d9d9;

// typography
$font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
  sans-serif;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$title-font-size: 22px;
$second-title-font-size: 18px;

$navbar-height: 60px;
$tabs-height: 42px;
$content-max-height: calc(
  100dvh - $navbar-height * 2 - env(safe-area-inset-top) -
    env(safe-area-inset-bottom)
);
