.map {
  width: 100%;
  height: 100%;
}

.list-view-button {
  z-index: 600;
}

.center-button {
  z-index: 1000;

  &.landscape {
    width: 40px;
    height: 40px;
    padding: 8px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@media (orientation: landscape) {
  .center-button {
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
