@use '../../variables' as *;

.title {
  justify-content: space-between;
  padding: 12px 0;
  width: auto;

  > div:first-of-type {
    display: flex;
    gap: 2px;
    align-items: center;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: $green;
}
