.wrapper {
  transition: grid-template-rows 0.5s;
  display: grid;
  grid-template-rows: 0fr;

  &.open {
    grid-template-rows: 1fr;
  }
}

.content-container {
  overflow: hidden;
}

.content {
  padding: 12px 4px;
}
